@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.2) scaleY(0.7);
  }
  55% {
    transform: scaleX(0.8) scaleY(1.3);
  }
  65% {
    transform: scaleX(1.15) scaleY(0.85);
  }
  75% {
    transform: scaleX(0.9) scaleY(1.1);
  }
  90% {
    transform: scaleX(1.1) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
