.heading {
  &-1 {
    display: flex;
    align-items: center;
    font-size: 4rem;
    letter-spacing: -0.02em;
    font-family: $font-secondary;
    @media only screen and (max-width: 56.25em) {
      font-size: 3.25rem;
    }
    @media only screen and (max-width: 37.5em) {
      font-size: 2.5rem;
    }
    span {
      margin-right: 0.5rem;
      background-image: linear-gradient(to right, #b0f3f1, #ffcfdf);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }
    &__sub {
      span {
        background-image: linear-gradient(
          to right,
          var(--color-white),
          var(--color-white)
        );
      }
    }
  }
  &-2 {
    font-size: 3.2rem;
    line-height: 105%;
    letter-spacing: -0.02em;
    color: var(--color-white);
    font-family: $font-secondary;
    @media only screen and (max-width: 57em) {
      line-height: 122%;
    }
    @media only screen and (max-width: 56.25em) {
      font-size: 2.5rem;
    }
  }
}

.paragraph {
  font-size: 2rem;
  line-height: 125%;
  color: var(--color-gray);

  &__sub {
    color: #8b8b8b;
  }
}
